 <app-home></app-home>

 <app-table [title]="'UŻYTKOWNICY'" [addButton]="false" (addClicked)="panel = true" ></app-table>

<table class="flatTable">
    <tr class="headingTr">
      <td>ID</td>
      <td>USERNAME</td>
      <td>EMAIL</td>
      <td>WORKER</td>
      <td>ROLE</td>
      <td></td>
    </tr>
    
    <tr *ngFor="let user of userworkers">
      <td> {{user.userId}} </td>
      <td> {{user.username}} </td>
      <td> {{user.email}} </td>
      <td *ngIf="user.workerId"> {{user.firstName}} {{user.lastName}}  </td>
      <td *ngIf="!user.workerId"> Nie przypisano </td>
      <td> {{user.roles}} </td>
      <td class="controlTd"(click)="editUserworker(user)">
      </td> 
    </tr>
  
  </table>
  
  <app-panel [title]="'Add a New Record'" [isOpen]="panel" (closeClicked)="panel = false">
    <p>Ng content works!</p>
  </app-panel>

 
  <!-- <link href='https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900' rel='stylesheet' type='text/css'> -->

  <app-paginator [perPage]="perPage" [totalPages]="totalPages" (changed)="pageChanged($event)"></app-paginator>

<div [style.z-index]="1" *ngIf="currentEditedUserworker" id="popup1" class="overlay">
  <div class="popup">
    <a class="close" href="#">&times;</a>
      <div class="content">
        <input [(ngModel)]="currentEditedUserworker.username">
        <input [(ngModel)]="currentEditedUserworker.email">
        <input [(ngModel)]="currentEditedUserworker.workerId">
        <select [(ngModel)]="selectedCurrentUserworkerRole">
          <option [ngValue]="opt" *ngFor="let opt of availableRoles">{{opt}}</option>
        </select>
        <button (click)="saveUserworker()"> Zapisz </button>
      </div>
  </div>
</div>
