 <app-home></app-home>

 <app-table [title]="'UŻYTKOWNICY'" [addButton]="false"></app-table>

<table class="flatTable">
    <tr class="headingTr">
      <td>ID</td>
      <td>USERNAME</td>
      <td>EMAIL</td>
      <td>WORKER</td>
      <td>ROLE</td>
      <td></td>
    </tr>
    
    <tr *ngFor="let user of userworkers">
      <td> {{user.userId}} </td>
      <td> {{user.username}} </td>
      <td> {{user.email}} </td>
      <td *ngIf="user.workerId"> {{user.firstName}} {{user.lastName}}  </td>
      <td *ngIf="!user.workerId"> Nie przypisano </td>
      <td> {{user.roles}} </td>
      <td class="controlTd"(click)="editUserworker(user)">
      </td> 
    </tr>
  
  </table>

  <app-paginator [perPage]="perPage" [totalPages]="totalPages" (changed)="pageChanged($event)"></app-paginator>

  <app-modify [isOpen]="currentEditedUserworker" [title]="'Modyfikuj użytkownika'">
    <div *ngIf="currentEditedUserworker">
      <input [(ngModel)]="currentEditedUserworker.username">
       <input [(ngModel)]="currentEditedUserworker.email">
       <input [(ngModel)]="currentEditedUserworker.workerId">
      <select [(ngModel)]="selectedCurrentUserworkerRole">
        <option [ngValue]="opt" *ngFor="let opt of availableRoles">{{opt}}</option>
      </select>
      <button (click)="saveUserworker()"> Zapisz </button> 
    </div>
  </app-modify>
