<app-home></app-home>

<app-table [title]="'WYPŁATY'" [addButton]="true" (addClicked)="panel = true" ></app-table>

<table class="flatTable">
    <tr class="headingTr">
      <td>ID</td>
      <td>WORKER ID</td>
      <td>DATE</td>
      <td>BONUS</td>
      <td>STATUS</td>
      <td>TOTAL</td>
      <td></td>
    </tr>
    
    <tr *ngFor="let salary of salaries">
      <td> {{salary.id}} </td>
      <td> {{salary.workerId}} </td>
      <td> {{salary.date}} </td>
      <td> {{salary.bonus}} </td>
      <td> {{salary.status}} </td>
      <td> {{salary.taxTotal}} </td>
      <td class="controlTd"(click)="editSalary(salary)">
      </td> 
    </tr>
  
  </table>

  <app-panel [title]="'Dodaj wypłatę'" [isOpen]="panel" (closeClicked)="panel = false">
    <label>SalaryTarget ID</label>  
    <input [(ngModel)]="newSalary.salaryTargetId">
    <label>Bonus</label>
    <input [(ngModel)]="newSalary.bonus">
    <button (click)="createSalary()"> Zapisz </button> 
  </app-panel>

  <app-modify [isOpen]="currentEditedSalary" [title]="'Modyfikuj wypłatę'">
    <div *ngIf="currentEditedSalary">
      <input [(ngModel)]="currentEditedSalary.salaryTargetId">
      <input [(ngModel)]="currentEditedSalary.bonus">
      <button (click)="saveSalary()">Zapisz</button>
    </div>
  </app-modify>

  <app-paginator [perPage]="perPage" [totalPages]="totalPages" (changed)="pageChanged($event)"></app-paginator>