<app-home></app-home>
<app-table [title]="'PRACOWNICY'" [addButton]="true" (addClicked)="panel = true" ></app-table>
<table class="flatTable">
    <tr class="headingTr">
      <td>ID</td>
      <td>FIRST NAME</td>
      <td>LAST NAME</td>
      <td>POSITIONS</td>
      <td></td>
    </tr>
    
    <tr *ngFor="let worker of workers">
      <td> {{worker.id}} </td>
      <td> {{worker.firstName}} </td>
      <td> {{worker.lastName}} </td>
      <td> {{worker.positionIds}} </td>
      <td class="controlTd"(click)="settingsOpen()">
      </td> 
    </tr>
  
  </table>
  
  <app-panel [title]="'Dodaj pracownika'" [isOpen]="panel" (closeClicked)="panel = false">
      <p>Dodaj pracownika</p>
  </app-panel>

  <app-paginator [perPage]="perPage" [totalPages]="totalPages" (changed)="pageChanged($event)"></app-paginator>