<app-home></app-home>

<app-table [title]="'CELE WYPŁAT'" [addButton]="true" (addClicked)="panel = true" ></app-table>

    <table class="flatTable">
    <tr class="headingTr">
      <td>ID</td>
      <td>NAME</td>
      <td>BANK ACCOUNT</td>
      <td>SELECTED</td>
      <td></td>
    </tr>
    
    <tr *ngFor="let salarytarget of salaryTargets">
      <td> {{salarytarget.id}} </td>
      <td> {{salarytarget.name}} </td>
      <td> {{salarytarget.bankAccount}} </td>
      <td> {{salarytarget.selected}} </td>
      <td class="controlTd"(click)="settingsOpen()">
      </td> 
    </tr>
  
    <app-panel [title]="'Dodaj cel wypłaty'" [isOpen]="panel" (closeClicked)="panel = false">
        <p>Dodawanie celu działa</p>
    </app-panel>

  </table>