<app-home></app-home>

<app-table [title]="'CELE WYPŁAT'" [addButton]="true" (addClicked)="panel = true" ></app-table>

    <table class="flatTable">
    <tr class="headingTr">
      <td>ID</td>
      <td>NAME</td>
      <td>BANK ACCOUNT</td>
      <td>SELECTED</td>
      <td></td>
    </tr>
    
    <tr *ngFor="let salarytarget of salaryTargets">
      <td> {{salarytarget.id}} </td>
      <td> {{salarytarget.name}} </td>
      <td> {{salarytarget.bankAccount}} </td>
      <td *ngIf="salarytarget.selected"> Wybrany </td>
      <td *ngIf="!salarytarget.selected"> <a href="javascript:;" (click)="selectSalaryTarget(salarytarget.id)"> Wybierz</a> </td>
      <td class="controlTd"(click)="editSalaryTarget(salarytarget)">
      </td> 
    </tr>
  
    <app-panel [title]="'Dodaj cel wypłaty'" [isOpen]="panel" (closeClicked)="panel = false">
      <label>Nazwa</label>  
      <input [(ngModel)]="newSalaryTarget.name">
      <label>Opis</label>
      <input [(ngModel)]="newSalaryTarget.bankAccount">
        <button (click)="createSalaryTarget()"> Zapisz </button> 
    </app-panel>

    <app-modify [isOpen]="currentEditedSalaryTarget" [title]="'Modyfikuj cel wypłaty'">
      <div *ngIf="currentEditedSalaryTarget">
          <input [(ngModel)]="currentEditedSalaryTarget.name">
          <input [(ngModel)]="currentEditedSalaryTarget.bankAccount">
          <button (click)="saveSalaryTarget()"> Zapisz </button>
      </div>
    </app-modify>

  </table>