/* You can add global styles to this file, and also import other style files */

.flatTable{  
    width:100%;
    min-width:500px;
    border-collapse:collapse;  
    font-weight:bold;
    color:black;
}
.flatTable tr{
    height:50px;
}
  
.flatTable td{    
    box-sizing:border-box;
    padding-left:30px;
}

.titleTr {
  height:70px;  
  color:#f6f3f7; 
  background:Grey;  
  border:0px solid;
}


.plusTd{
    background:url(https://i.imgur.com/3hSkhay.png) center center no-repeat, rgba(0,0,0,.1);
    width: 4rem;
}

.controlTd{  
  position:relative;
  width:80px;
  background:url(https://i.imgur.com/9Q5f6cv.png) center center no-repeat;
  cursor:pointer;
}

.headingTr{
    height:30px;
    background: #cecdd0;
    color:black; 
    font-size:8pt;
    border:0px solid;
}  


.button{
  text-align:center;
  cursor:pointer;
}

.sForm{
  position:absolute;
  top:56px;
  right:0;
  width:400px;
  height: calc(100% - 56px); 
  background:rgb(165, 165, 165);  
  overflow:hidden;  
  transition:width 1s, right .3s;
  padding:0px;
  box-sizing:border-box;
}
.close{
    float:right; 
    height:70px;
    width:80px;
    padding-top:25px;    
    box-sizing:border-box;
    background:rgba(255,0,0,.4);      
}
  
.title{
    width:100%;
    height:70px;
    padding-top:20px;
    padding-left:20px;
    box-sizing:border-box;
    background:rgba(0,0,0,.1);
}

#yes{
  display: none;
  margin-left: auto;
  margin-right: auto;
  background-color: whitesmoke;
  border: 1px solid black;
  width: 600px;
  height: 800px;
  z-index: 5;
  margin-top: 2%;
}

.popup {
  position: absolute;
  width: 100%;
  max-width: 80%;
  margin: 20px auto;
  padding: 100px;
  background-color: #ffffff;
  top: 45%;
  left: 50%;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.25);
  transform: translateX(-50%) translateY(-50%);
  pointer-events: auto;
}

.popup .close {
  position: absolute;
  top: 10px;
  right: 10px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

#overlayed {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}  

.tops {
  z-index: 1000;
}
